.primary-object_color{
	color: #103973;
	background-color: #103973;
}

.secondary-object_color{
	color: #52abe6;
	background-color: #52abe6;

}

.hover-primary_color{
	color: #deeeff;
	background-color: #deeeff;
}

.hover-secondary_color{
	color: #4a73ac;
	background-color: #4a73ac;
}


.font-primary_color{
	color: #ffffff;
	background-color: #ffffff;
	
}

.font-secondary_color{
	color: #9ccdff;
	background-color: #9ccdff;
}

.primary-border_color{
	border-width:0.01em;
	border-style:solid;
	border-color:#ffe683;
}

.secondary-border_color{
	border-width:0.05em;
	border-style:solid;
	border-color:#eecd62;
}

.highlight-border_color{
	border-width:0.5em;
	border-style:solid;
	border-color:#eecd62;
}