body{
	overflow:hidden;
	background-repeat:repeat;
	background-image: url("assets/backgrounds/background.png");
}
#noOrbit{
	z-index: 99;
}
center{
	margin-top: 20%;
}

.orbit_object{
    width:50px;
    height:50px;
    background:red;
    position:absolute;
    transform: translateX(-15px);
}

.dead_center{
	width: 0px;
	height: 0px;
}

.absolute_center{
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
}

.absolute_vertical{
	margin: auto;
  	position: absolute;
  	top: 0; bottom: 0;
 }


.orbit_center_object{
	width:150px;
    height:150px;	
}

.circle_element{
	border-radius: 50%;
}

.circle_center{
	width:75px;
    height:75px;
}

/*  Grows to 425px */
.highlight-lv1{
	width:0px;
    height:0px;
    background-color: transparent;
}

/* Grows to 625px still needs testing */
.highlight-lv2{
	width:0px;
    height:0px;
}


.absolute{
	position: absolute;
}