.flex-container-4 .image-card:hover img{
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}


.image-card img{
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}


h3{
   padding: 10px;
   font-size: 16px;
   width: 96.9%;
   transition: 0.4s ease;	
   transform : translateY(105%) ;
   height: 5%;
}

.flex-container-4 .image-card:hover h3{
  transition: 0.4s ease;	
   transform : translateY(0) ;
}

.zoom-effect-container{
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.perfect-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
