vti_encoding:SR|utf8-nl
vti_author:SR|LENOVO-G500S\\Andros
vti_modifiedby:SR|LENOVO-G500S\\Andros
vti_timelastmodified:TR|25 Aug 2015 03:58:14 -0000
vti_timecreated:TR|04 Aug 2015 03:45:53 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|demo.html default.html
vti_nexttolasttimemodified:TW|25 Aug 2015 03:57:12 -0000
vti_cacheddtm:TX|25 Aug 2015 03:58:14 -0000
vti_filesize:IR|971
vti_cachedlinkinfo:VX|S|assets/backgrounds/background.png
vti_cachedsvcrellinks:VX|FSUS|styles/assets/backgrounds/background.png
